body {
    font-family: Arial, Verdana, sans-serif;
}

h1, h2, h3
{
   text-shadow: 3px 2px grey;
   font-size: 20px;
}
h1 
{
   font-size: 30px;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
