body {
    font-family: Arial, Verdana, sans-serif;
}

h1, h2, h3
{
   text-shadow: 3px 2px grey;
}

a:link, a:visited {
    background-color: #2E2EFE;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: blue;
}
